h2{
 background: white;
    margin-top: 0;
    height: 100px;
    position: fixed;
    width: 20.2%;
    
}


#logo{
    margin-left: 40px;
   height: 100%;
}


nav{
    
    width: 80%;
    height: 80%;
    margin-left: 15%;
margin-top: -2%;
}


.dropdown{
    
    margin-left: 450px;
}



 .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 25px;
    
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
  

#myBtn1{
	text-decoration: none;
	
}

#myBtn1 div{
	padding-top: 1.5em;
	padding-bottom: 1em;
	margin-left: 0.12em;
	width:15em;
	color: white;
}

#myBtn1:hover div{
	background-color: #808080;
	transition: 0.5s;
	color: white;	
	opacity: 1.0;
	width: -50em;
    cursor:pointer; 
    

}

.modal-content{
    margin-top: 10px;
}

   
       /*-----------------------------Side Bar-----------------------------*/
.sidebar{
	background: #0d0d26;
	height: 100%;
	padding-top: 1em;
	padding-left: 1em;
    margin-top: 3em;
	position: fixed;
	top:4em;
	box-shadow: 1px 0 0 #1e2c3a;
    width: 22em;
	
}

.sidebar-outer {
    position: relative;
    margin-left: -0.4em;
}

.info{
	margin-top: -4em;
	margin-left: 5.5em;
	text-align: left;
}


#link{
	text-decoration: none;
	
}

#link div{
	padding-top: 1.5em;
	padding-bottom: 1em;
	margin-left: 0.12em;
	width:15em;
	color: white;
}

#link:hover div{
	background-color: #808080;
	transition: 0.5s;
	color: white;	
	opacity: 1.0;
	width: -50em;

}

.active{
	background-color:  #8c8c8c!important;
	color: white!important;
    opacity: ;
}

#bb{
	margin-left: -10px;
	border-style: solid white 0.5px;
}
.navheight{
	height: 150px;
	font-size: 20px;
	font-family: century gothic;
}

.centertext{
	margin-top: 22px;
}
    