h2{
 background:;
    margin-top: 0;
    height: 100px;
    position: fixed;
    width: 20%;
    
}


#logo{
    margin-left: 40px;
   height: 100%;
}


nav{
    
    width: 80%;
    height: 80%;
    margin-left: 15%;
margin-top: -2%;
}


.dropdown{
    
    margin-left: 450px;
}
 


.content{
  background-color:#fffefe ; /*#eaeaea*/ /*#eaeaea*/
  height: 100%;
  padding-top: 7em;
  
  position: relative;
  left: 70px;
  overflow: auto;
    margin-left: ;
    background-image: url('../img/npatient.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}




.content12{
  background-color:#fffefe ; /*#eaeaea*/ /*#eaeaea*/
  height: 100%;
  padding-top: 7em;
  
  position: relative;
  left: 70px;
  overflow: auto;
    margin-left: ;
    background-image: url('../img/add.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}



.content123{
  background-color:#fffefe ; /*#eaeaea*/ /*#eaeaea*/
  height: 100%;
  padding-top: 7em;
  
  position: relative;
  left: 70px;
  overflow: auto;
    margin-left: ;
    background-image: url('../img/update.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
} 

#name{
    margin-top:-2em;
}

.whole{
    width: 95%;
    
}

 .searchbar{
            font-size: 15px !important;
            height: 35px;
            padding: 4px;
        }
        @font-face {
          font-family: Champagne-&-Limousines-Bold;
          src: url('fonts/Champagne & Limousines Bold.ttf');
        }
        @font-face {
          font-family: Champagne-&-Limousines;
          src: url('fonts/Champagne & Limousines.ttf');
        }
        @font-face {
          font-family: Amble;
          src: url('fonts/Amble-Regular-webfont.ttf');
        }
        body{
            font-family: Amble !important;
        }

        .aplabel{
            padding-left: 10px;
        }

        .apdesc{
            width: 13em;
            border-radius: 0.4em;
            border: 2px solid #cccccc;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            outline: none;
        }
        .apdesc2{
            width: 4em;
            border-radius: 0.4em;
            border: 2px solid #cccccc;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            outline: none;
        }

        .apdesc:focus{
            border: 2px solid #4da6ff;
        }
        .apdesc2:focus{
            border: 2px solid #4da6ff;
        }


        .box1{
          border: solid 1px #6CE3AD;
          border-radius: 0.8em;
          min-height: xxx;
          overflow: hidden;
          padding: 1em;
         margin-top: 2em;
          width: 25em;
          margin-bottom: 10px !important;
          padding-bottom: 10px;
         position: fixed;
            margin-left:2em;
        }


        .disease{
                  margin-left: 33%; !important;
                  border: solid 1px #6CE3AD;
                  border-radius: 0.8em;
                  height: 300px;
                  overflow: hidden;
                  padding: 2em;
                position: fixed;
                 margin-top: 2em  !important;
                 width: 25em !important;
                margin-left: 385px !important;
            
        }


     .newdis{
                  margin-left: 33%; !important;
                  border: solid 1px #6CE3AD;
                  border-radius: 0.8em;
                  height: 200px;
                  overflow: hidden;
                  padding: 2em;
                position: fixed;
                 margin-top: 30em  !important;
                 width: 25em !important;
                margin-left: 30px !important;
            
        }

        .in{
                  margin-left: 10px !important;
                  border: solid 1px #6CE3AD;
                  border-radius: 0.8em;
                  height: 200px;
                  overflow: hidden;
                  padding: 1em;
                 margin-top: 2em !important;
                 width: 28em !important;
                 margin-bottom: 30px !important;
                position: fixed;
            margin-left: 750px !important;
                
        }



     .test{
             
            
         border: solid 1px #6CE3AD;
         border-radius: 0.8em;
         overflow: hidden;
         margin-top: 330px !important;
         margin-left: 385px !important;
         position: fixed;
         padding: 1em;
         width: 350px;
         height: 280px;

      
        }

        
    

 .box11{
          border: solid 1px #6CE3AD;
          border-radius: 0.8em;
          min-height: xxx;
          overflow: hidden;
          padding: 1em;
         margin-top: 2em;
          width: 25em;
          margin-bottom: 10px !important;
          padding-bottom: 10px;
         position: fixed;
            margin-left:30em;
        }

#submits{

        margin-left: 40%;
     }

    
    


        .out{
                  margin-left: 51% !important;
                  border: solid 1px #6CE3AD;
                  border-radius: 0.8em;
                  height: 250px;
                  overflow: hidden;
                  padding: 2em;
                 margin-top: 2em !important;
                 width: 25em !important;
                 position: fixed;
                
               
        }



    .addDis{
                  margin-left: 33%; !important;
                 
                  border-radius: 0.8em;
                  height: 350px;
                  overflow: hidden;
                  padding: 2em;
                 margin-top: 10em  !important;
                 width: 25em !important;
                 margin-bottom: 30px !important;
            
        }


     .addTest{
                
                  margin-left: 33%; !important;
                 
                  border-radius: 0.8em;
                  height: 350px;
                  overflow: hidden;
                  padding: 2em;
                 margin-top: 10em  !important;
                 width: 25em !important;
                 margin-bottom: 30px !important;
            
        
            
        }

#addbot{
        
}

     
        .buts{
          margin-top: -180px;
          margin-left: 0px;
        }
         .submitpatient{
          margin-top: 10px;
          margin-left: -165px;
          height: 50px !important;
          width: 160px;
          font-size: 17px !important;
         }
         #glosub{
          border: 1px solid #2797c6;
          background-color: transparent;
          margin-left: -81px;
          color: #2797c6;

        }
        #glosub:hover {
          background: #42bff4;
        }

        #op, #op1{
          margin-left: 26.5%;
        }

        #op1{
          margin-left: 23.5%;
        }
        .sub .btn{
          border: 2px solid #6CE3AD;
          background-color: transparent;
          color: #00bd9c;
            height:47px;
            width:15%;
            position: fixed;
         margin-top: 615px !important;
             margin-left: 450px !important;

            
            
            
        }

        .sub .btn:hover {
            background: #6CE3AD;
            color:white;

        }


   .addrec .btn{
           border: 2px solid #6CE3AD;
              background-color: transparent;
        margin-top: 500px !important;
            
            
        }

        .addrec .btn:hover {
            background: #6CE3AD;
            color:white;

        }


        
select{
    border-radius: 10px;
    width: 100px;
}
        
       /*-----------------------------Side Bar-----------------------------*/
.sidebar{
  background:  #0d0d26;
  height: 100%;
  padding-top: 1em;  
  padding-left: 1em;
    margin-top: 3em;
  position: fixed;
  top:4em;
  box-shadow: 1px 0 0 #1e2c3a;
    width: 22em;
  
}



.sidebar-outer {
    position: relative;
    margin-left: -0.4em;
}

.info{
  margin-top: -4em;
  margin-left: 5.5em;
  text-align: left;
}


#link{
  text-decoration: none;
  
}

#link div{
  padding-top: 1.5em;
  padding-bottom: 1em;
  margin-left: 0.12em;
  width:15em;
    height: 6em;
  color: white;
}

#link:hover div{
  background-color: #808080;
  transition: 0.5s;
  color: white; 
  opacity: 1.0;
  width: -50em;

}


#myBtn1{
  text-decoration: none;
  
}

#myBtn1 div{
  padding-top: 1.5em;
  padding-bottom: 1em;
  margin-left: 0.12em;
  width:15em;
  color: white;
}

#myBtn1:hover div{
  background-color: #808080;
  transition: 0.5s;
  color: white; 
  opacity: 1.0;
  width: -50em;
    cursor:pointer; 
    

}

.dismod{
    background-image: url('../img/dis.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:500px !important;
    
    
}


.modal-content{
    margin-top: 30px;
   
    height:150px;
}


.active{
  background-color:#8c8c8c!important;
  color: white!important;
}

#bb{
  margin-left: -10px;
  border-style: solid white 0.5px;

}
.navheight{
  height: 150px;
  font-size: 20px;
  font-family: century gothic;
}

.centertext{
  margin-top: 22px;
}


